* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: crimson;
}

.inner_header{
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;

}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: aliceblue;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    
}

.navbar{
    float: right;
    height: 100%;

}

.navbar a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navbar a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: aliceblue ;
}

.categories{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AboutUs{
    width: 17%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(img/bg1.jpeg);
}





.categories ul li{
    list-style: none;
    display: inline-block;
    margin: 0 230px;
}


.products{
        width: 50%;
        padding: 35px 0;
        display: inline-block;
       
        
}


.ourMenuSize {
    border: 0px outset red;
    height: 100px;
    background-color: grey;    
    text-align: center;

    
  }
  .fontBelowMenu {
      font-size: 20px;

  }
  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }






