* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: crimson;
}

.inner_header{
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;

}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: aliceblue;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    
}

.navbar{
    float: right;
    height: 100%;

}

.navbar a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navbar a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: aliceblue ;
}

.categories{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AboutUs{
    width: 17%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.categories ul li{
    list-style: none;
    display: inline-block;
    margin: 0 230px;
}


.products{
        width: 50%;
        padding: 35px 0;
        display: inline-block;
       
        
}
